@import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:wght@500&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    font-family: var(--font-Montserrat_light);
}

:root{
    --font-anton:'Anton';
    --font-Montserrat_light:'Montserrat';
}

body{
    overflow-x: hidden;
}

#zap{
    position: fixed;
    bottom: 10px; 
    right: 10px;
    z-index: 9999;
}

#zap img{
    width: 60px;
    border: solid 1px #F7CA0F;
    border-radius: 50%;
    transition: transform 0.2s ease;
}

#zap img:active{
    transform: scale(0.85);
}

header{
    position: relative;
}

header > #cartaz{
    height: 100vh;
    width: 100vw;
}

header > p{
    text-align: center;
    vertical-align: bottom;
}
header > menu{
    position: absolute;
    display: none;
    height: 350px;
}

/*
-------------------------------MENU--------------------------- 
*/

header > #burguer{
    display: block;
    position: absolute;
    right: 0;  
    top: 0;
    font-size: 60px;
    color: #F7CA0F;
    background-color: black;
    
    border-radius: 50% 0 0 50%;
}

header > menu {
    position: absolute;
    right: 0;
}

header > menu > ul{
    background-color: #F7CA0F;    
    border: 2px solid #F7CA0F;
    box-shadow: 0 0 15px #F7CA0F, inset 0 0 15px #F7CA0F;
    min-width: 200px;
    height: 350px;
    text-align: center;
}

header > menu > ul > li{
    color: black;
    padding: 10px;
    margin:10px  10px 10px 10px;
    background-color: white;
    border-radius: 5px;
}

header > menu > ul > li:hover{
    background-color: rgb(30,30,30);
    color: white;
}

/*
-------------------------------SOBRE--------------------------- 
*/
.sobre{
    padding-bottom: 10px;
    margin: 30px auto;
    width: 90vw;
    color: white;
    box-shadow: 0 0 10px #F7CA0F;
    margin-bottom: 10px;
    background: url('imagens/Story\ Treino\ Academia.png') center no-repeat;
    background-size: cover;
}

.sobre h2{
    padding-top: 15px;
    font-size: 50px;
    font-weight: 100;
    text-align: center;
    font-family: var(--font-anton);
}

.sobre > p{
    text-align: center;
    text-align:justify;
    font-family: var(--font-Montserrat_light);
    margin: 20px 10px;
    padding-bottom: 10px;
    line-height: 1.4em;
}

.sobre > .tour{
    font-family: var(--font-anton);
    font-size: 1.3em;
    text-align: center;
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    background: #F7CA0F;
    margin: 10px auto;
    border: 1px solid #F7CA0F;
    box-shadow: 0 0 10px #F7CA0F, inset 0 0 10px #F7CA0F;

}

.sobre > .tour:active{
    transform: scale(0.85);

}

.sobre > .tour > a{
    text-decoration: none;
    color: #000;
}

/*
---------------------------HORARIOS--------------------------
*/

.horarios {
    background: url('imagens/bg-horario.png')  center   no-repeat;
    background-size: cover;
    height: 100vh;
    margin: 10px 0px;
    position: relative;
}

.horarios > h2{
    margin: 45px 0px;
    font-size: 50px;
    font-weight: 100;
    padding: 20vh 0PX;
    text-align: center;
    color: white;
    font-family: var(--font-anton); 
}

.horarios > ul{
    width: 90vw;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    display: inline-block;
}

.horarios > ul > li{
    text-align: center;
    padding: 5px;
    font-size: 1.5em;
    background-color: #F7CA0F;
    border: 1px solid white;
    box-shadow: 0 0 10px #F7CA0F, inset 0 0 10px #F7CA0F;
    border-radius: 10px;
    margin: 10px;
}

/*
---------------------------DEPOIMENTOS--------------------------
*/

.depoimentos{
    background-color: #FBFCFE;
    padding:40px 0;
    margin: 0px 10px;
}

.depoimentos > h2{
    text-align: center;
    font-size: 50px;
    font-family: var(--font-anton);
    font-weight: 100;
}

.container-slider{
    overflow:hidden;
    padding:40px 0;   
}

.container-slider-single{
    float: left;
    background-color:rgb(30,30,30);
    text-align: center;
    padding:15px;
    border-radius:10px;
    border: 2px solid #F7CA0F; 
    box-shadow: 0 0 10px #F7CA0F, inset 0 0 10px #F7CA0F;   
}

.container-slider-single p{
    margin:15px 0;
    color:#fff;
    font-size: 14px;
    font-family: var(--font-Montserrat_light);
}

.container-slider-single h3{
    color:white;
}

.slick-slide {
    margin-left:27px;
}

  /* the parent */
.slick-list {
    margin-left:-27px;
}

/*########################
SLICK SLIDER
##########################*/

.slick-dotted ul{
    display: block;
	list-style-type: none;
	text-align: center;
	position: relative;
	top:30px;
}

.slick-dotted li{
	display: inline-block;
	margin: 0 7px;
}

.slick-dotted button:focus{
	outline: 0;
}

.slick-dotted li button{
	width: 16px;
	height: 16px;
	border-radius: 8px;
	color: #d8d8d8;
	border-width: 0;
	background: #d8d8d8;
	opacity: 1;
	cursor: pointer;
}

li.slick-active button{
	background: #F7CA0F;
    box-shadow: 0 0 10px #F7CA0F, inset 0 0 10px #F7CA0F;
	color: #F7CA0F;
}
.slick-slide:focus { outline: none; }

/*
---------------------------PLANOS--------------------------
*/

.planos{
    background: url('imagens/bg-planos.png') center no-repeat;
    background-size: 100% 100%;
    padding: 10px 0;
    margin:20px auto;
    display: flex-wrap;
    width: 90vw;
    text-align: center;
}

.planos > h2{
    color: white;
    font-family: var(--font-anton);
    font-weight: 100;
    font-size: 50px;
    margin: 15px 0px;
}

.planos > .container_valor > .valor{
    margin:30px auto;
    background-color: #d8d8d8;
    width: 200px;
    height: 300px;
    position: relative;
}

.planos > .container_valor > .valor > h6{
    color: #F7CA0F;
    font-size: 1.3em;
    position: absolute;
    left: 13%;
    top: 85%;
    border:1px solid        ;
    padding: 5px;
}

.planos > .container_valor > .valor > h5{
    margin-top: 10px;
    font-size: 1.2em;
}

.planos > .container_valor > .valor > h4{
    position: absolute;
    left: 14%;
    top: 38%;   
}

.planos > .container_valor > .valor > h2{
    font-size: 1.8em;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.planos > .container_valor > .valor > p{
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%,-50%);
}

.planos > .container_valor >  #dia{
    border: solid 3px  #fff;
    background-image: linear-gradient(45deg,#8d8c8c  ,#ffffff6e, #8d8c8c );
}

.planos > .container_valor > #mes{
    color: white;
    background: black;
    border: solid 1px  #F7CA0F;
    box-shadow: 0 0 10px #F7CA0F, inset 0 0 10px #F7CA0F;
}

.planos .container_valor > #ano{
    background-image: linear-gradient(45deg,#F7CA0F,#F7CA0F,#F7CA0F, #ffffff00 ,#F7CA0F, #F7CA0F, #F7CA0F );
    border:3px solid #000;
}

.planos a {
    color: #F7CA0F;
    font-size: 1.3em;
}

/*
---------------------------FOTOS--------------------------
*/
.fotos > h2{
    font-family: var(--font-anton);
    font-size:50px;
    font-weight: 400;
    margin-top: 100px;
    text-align: center;
}

.galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2vw;
    padding-bottom:20px ;
    margin-bottom: 30px;
}


.galeria-itens{
    width: 80vw;
    height: 340px;
    margin: 10px 0;
    border: 10px solid #FFF;
    box-shadow: 5px 5px 5px #0006;
    flex-grow: 1;
    transition: transform .5s linear;
}

.galeria-itens img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.galeria-itens:hover{
    transform: scale(1.03);
}

/*
---------------------------CTA--------------------------
*/

.cta{
    width: 100vw;
    text-align: center;
}

.cta a{
    color: #F7CA0F;
    text-decoration: none;
}

.cta > button:hover{
    cursor: pointer;
}

.cta > button {
    padding: 20px 0px;
    background-color: black;
    color: #F7CA0F;
    text-align: center;
    font-size: 1.7em;
    width: 200px;
    border:3px solid #F7CA0F;
    border-radius: 5px;
    box-shadow: 0 0 10px #F7CA0F, inset 0 0 10px #F7CA0F;
    animation: pulsar 1s  infinite ;
}

@keyframes pulsar{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}

/*
---------------------------RODAPÉ--------------------------
*/

footer{
    width: 100vw;
    background-color: rgb(30,30,30);
    color: white;
    text-align: center;
    margin-top: 30px;
}

footer > p{
    padding: 30px 0px;
}

@media screen and (min-width:768px){
    header > #cartaz{
        height: 100vh;
        min-width: 100vw;
        margin-bottom: 10px;
    }

    header > menu{
        position: absolute;
        height: 350px;
        
    }

    header > menu > ul{
        background-color: #F7CA0F;    
        border: 2px solid #F7CA0F;
        box-shadow: 0 0 15px #F7CA0F, inset 0 0 15px #F7CA0F;
        width: 200px;
        height: 350px;
    }

    main > .sobre{
        width: 650px;
    }

    main > .sobre > p{
        line-height: 2em;
    }

    .planos{
        background: url('imagens/Home.jpg') center no-repeat;
        background-size: 100% 100%;
    }

    .planos > .container_valor{
        display: flex;
    }

    .galeria-itens{
        width: 340px;
    }
}